/*Cores*/
.theme-light-blue{
    color: #009DDC;
}

.theme-white{
    color: #FFFFFF;
}

.theme-black{
    color: black;
}

.theme-dark-blue{
    color: #08377B;
}

/*Cores classes / id*/
.vermelho{
    color: #C53137;
}

/**/

/*Background*/
.container-background1{
    height: 100vh;
    padding-top: 2%;
    background-image: url('images/background_0.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-background2{
    height: 100vh;
    padding-top: 2%;
    background-color: #009DDC;
}

.container-background3{
    height: 100vh;
    padding-top: 2%;
    background-color: #FFFFFF;
}

.container-background4{
    height: 100vh;
    padding-top: 2%;
    background-image: url('images/background_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-background5{
    height: auto;
    padding-top: 2%;
    background-color: #08377B;
}

/*Notebook*/
@media (max-width: 1702px){
    .container-background3{
        height: auto;
    }
}

@media (max-width: 1366px) and (max-height: 800px) {
    .container-background1{
        height: auto;
    }
    
    .container-background2 {
        height: auto;
    }
}

/*Celular horizontal*/
@media (max-height: 450px){
    .container-background1{
        height: auto;
    }
    .container-background2{
        height: auto;
    }
}

/*Celular vertical*/
@media (max-width: 473px) {
    .container-background2 {
        height: auto;
    }
}

/*Button*/
.container-button{
    padding-top: 5%;
    justify-content: center;
}

.button-1{
    width: calc(50% + 70px);
    background-color: white;
    color: #08377B;
    border-color: white;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: calc(1.625rem + .3vw);
    margin-bottom: 20px;
}

.button-1:hover{
    background-color: #06244E;
    color: #FFFFFF;
    border-color: #06244E;
}

.button-2{
    width: calc(50% + 70px);
    background-color: #08377B;
    color: white;
    border-color: #08377B;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: calc(1.625rem + .3vw);
    margin-bottom: 20px;
}

.container-info{
    margin-top: 1%;
}

.container-calendar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #08377B;
    border-radius: 25px;
}

.image-icon{
    margin-right: 1%;
}

.image-footer{
    width: 32px;
    height: 32px;
}

/*Navbar */

#logo{
    max-width: 100px;
    height: auto;
}

.navbar-brand{
    font-size: 2.5vw;
}

.navbar-nav .nav-link.selected {
    background-color: black;
    color: white;
}
  


#flooat-esquerda{
    margin-left: auto;
    font-family: Kulim Park;
}
/**/