.title{
    color: #CECECE;
}
.subtitle-theme-1{
    color: #CECECE;
}

.subtitle-theme-2{
    color: black;
}

.container-background1{
    height: 100dvh;
    padding-top: 5%;
    background-color: #646e6e;
}

.container-background2{
    height: 100dvh;
    padding-top: 5%;
    background-image: url('images/background_0.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container-button{
    padding-top: 5%;
    justify-content: center;
}

.button-color-1{
    background-color: #CECECE;
    border-color: #CECECE;
    color: black;
}

.button-color-2{
    background-color: #AFADAD;
    border-color: #AFADAD;
    color: black;
}

.container-info{
    margin-top: 3%;
}

.image-icon{
    margin-right: 1%;
}

.image-position{
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}