.title{
    color: #CECECE;
}

.subtitle-theme-1{
    color: #CECECE;
}

.subtitle-theme-2{
    color: black;
}

/*Cores classes / id*/
.vermelho{
    color: #C53137;
}

/**/

.btn-default{
    font-size: 2vw;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
}

.container-background1{
    height: 100dvh;
    padding-top: 2%;
    background-color: #646e6e;
}

.container-background2{
    height: 100dvh;
    padding-top: 2%;
    background-image: url('images/background_0.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container-button{
    padding-top: 5%;
    justify-content: center;
}

.button-color-1{
    background-color: #CECECE;
    border-color: #CECECE;
    color: black;
}

.button-color-2{
    background-color: #AFADAD;
    border-color: #AFADAD;
    color: black;
}

.container-info{
    margin-top: 3%;
}

.container-calendar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #CECECE;
    border-radius: 25px;
}

.image-icon{
    margin-right: 1%;
}

.image-position{
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

/*Navbar */

#logo{
    max-width: 100px;
    height: auto;
}

.navbar-brand{
    font-size: 2.5vw;
}

.navbar-nav .nav-link.selected {
    background-color: black;
    color: white;
}
  


#flooat-esquerda{
    margin-left: auto;
    font-family: Kulim Park;
    ;
}
/**/