/*Cores*/
.theme-light-blue{
    color: #009DDC;
}

.theme-white{
    color: #FFFFFF;
}

.theme-black{
    color: black;
}

.theme-dark-blue{
    color: #08377B;
}

/*Cores classes / id*/
.vermelho{
    color: #C53137;
}

/*Tamanho fonte*/
.font-1{
    font-size: 18px;
}

.font-2{
    font-size: calc(1.275rem + .3vw)
}

.font-navbar{
    font-size: calc(1.1rem + .3vw)
}

/*Background*/
.container-background1{
    height: auto;
    padding-top: 2%;
    background-image: url('images/background_0.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-background6{
    height: auto;
    padding-top: 2%;
    background-color: white;
}

/*Celular horizontal*/
@media (max-height: 674px){
    .container-background1{
        height: auto;
    }
}

.container-bio{
    display: flex;
    padding-bottom: 75px;
}

@media (max-width: 1201px){
    .container-bio{
        flex-direction: column;
        align-items: center;
    }
}

.container-icon{
    margin-left: 5%;
    margin-right: 5%;
}

.container-footer{
    padding: 50px;
}

.image-icon{
    margin-right: 1%;
}

.container-description{
    text-align: justify;
}

/*Navbar */

.navbar{
    padding: 0px !important;
}

.nav-link{
    padding: 0px !important;
}

.navbar-brand {
    display: flex;
    align-items: center; /* Alinha verticalmente */
 }
  
.navbar-brand img {
    height: auto;
}

@media (max-width: 768px) {
        
    #prota{
        margin-right: .25rem !important;
    }
}

@media (min-width: 1024px){

    .navbar-brand{
        font-size: 1.5vw !important;
    }

    #logo{
        width: 3vw !important;
        height: auto;
    }

}
  
#logo{
    width: 5vw;
    height: auto;
}

.navbar-brand{
    font-size: 2.5vw;
    padding-left: 25px;
}

.nav-item .nav-link{
    font-size: 1.2rem;
}

.selected {
    background-color: black;
    color: white !important;
    height: 7vh;
}
  
#flooat-esquerda{
    margin-left: auto;
    align-items: center !important;
    font-family: "Montserrat";
}

.font-family-navbar{
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.font-navbar{
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    margin: 0;
    font-size: calc(1.2rem + 0.1vw);
}


/**/
